# CONFIG
.env
config.json

# Folders
Build/
Axe2/

# VS
.vscode/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Others
*.tmp
*.log
*.expand
*.bin
*.o
*.d
*.a
*.so
*.dll
*.exe
*.map
*.gdb_history
*.elf
*.iso
*.hdd
*.img
